body{
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(23, 4, 12);
}
/* --------header--part----start------*/

.header{
background-color: rgb(23, 4, 12);
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 30px;
margin-right: 30px;
}
.logo h3{
color: rgb(236, 12, 80);
font-size: 35px;
}
.menu ul{
margin: 0px;
padding: 0px;
text-align: center;
margin-top: 20px;
}
.menu ul li{
list-style: none;
display: inline-block;
padding: 20px;
}
.menu ul li.cont{
margin-right: 5px;
}
.menu ul li.hm a{
color: rgb(236, 12, 80);
}
.menu ul li.cont a{
background-color: rgb(236, 12, 80);
padding: 10px 15px;
border-radius: 30px;
color: #000;
}
.menu ul li.cont a:hover{
color: #fff;
border-bottom: none;
}
.menu ul li a{
text-decoration: none;
color: #fff;
font-size: 18px;
font-weight: bold;
}
.menu ul li a:hover{
color:  rgb(236, 12, 80);
border-bottom: 2px solid #fff;
}

/* --------header--part----end------*/

/* --------banner--part----start------*/

.banner{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.banner-content{
margin: 50px 50px;
color: #fff;
}

.banner-content h3{
font-size: 30px;
}
.banner-content h3 span{
color:rgb(236, 12, 80);
}
.banner-content h1{
font-size: 55px;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.banner-content h1 span{
color:rgb(236, 12, 80);
}
.banner-content p{
font-size: 20px;
letter-spacing: 1.5px;
margin-bottom: 50px;
}
.button a{
text-decoration: none;
color: #fff;
font-size: 20px;
background-color: rgb(23, 4, 12);
padding: 10px 25px;
border: 1px solid #fff;
border-radius: 30px;
margin-right: 20px;
}
.banner-content a.hire{
background-color:  rgb(236, 12, 80);
}
.button a:hover{
background-color: rgb(236, 12, 80);
transition: .5s;
}
.button a.hire:hover{
background-color:rgb(23, 4, 12);
transition: .5s;
}
.banner-icon{
margin-top: 40px;
}
.banner-icon a{
text-decoration: none;
}
.banner-icon a i{
margin-right: 15px;
font-size: 32px;
color:rgb(236, 12, 80);
border: 4px solid  rgb(236, 12, 80);
border-radius: 50%;
}
.banner-icon a i.fb{
padding: 8px 12px;
}
.banner-icon a i.lin{
padding: 8px 9px;
}
.banner-icon a i.int{
padding: 8px 8px;
}
.banner-icon a i.twi{
padding: 8px 8px;
}
.banner-icon a i:hover{
background-color: rgb(236, 12, 80);
color: #fff;
}
.banner-img img{
width: 500px;
height: 500px;
margin-right: 50px;
margin-top: 30px;
border-radius: 15px;
}
/* --------banner--part---end------*/

/* --------about--part---start------*/

.about-title{
margin-top: 100px;
margin-left: 50px;
margin-right: 50px;
padding: 50px 0px;
border-top: 3px solid #fff;
position: relative;
}
.about-counter{
background-color:rgb(23, 4, 12);
width: 50%;
position: absolute;
top: -55%;
left: 25%;
box-shadow: 0px 0px 10px #fff;
border-radius: 50px;
text-align: center;
padding: 10px 0px;
}
.about-counter ul{
padding: 0px;
margin: 0px;
}
.about-counter ul li{
display: inline-block;
margin-left: 20px;
margin-right: 20px;
color:#fff;
border-left: 2px solid #fff;
padding-left: 20px;
}
.about-counter ul li.about-border{
border: 0px;
}
.about-title h2{
 border-bottom: 2px solid #fff;
}
.about{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 60px;
}
.about-img img{
width: 400px;
height: 400px;
margin: 50px 100px;
border-radius: 50%;
}
.about-content{
margin-right: 50px;
}
.about-content h4{
font-size: 30px;
color: #fff;
}
.about-content h3{
font-size: 40px;
color: #fff;
}
.about-content h3 span{
color: rgb(236, 12, 80);
}
.about-content p{
font-size: 20px;
letter-spacing: 1.5px;
margin-bottom: 30px;
color: #fff;
}
.about-content a{
text-decoration: none;
color: #fff;
font-size: 20px;
background-color: rgb(23, 4, 12);
padding: 10px 25px;
border: 1px solid #fff;
border-radius: 10px;
}
.about-content a:hover{
background-color: rgb(236, 12, 80);
transition: .5s;
}
/* --------about--part---end------*/




/* --------service1--part---starte------*/

.service11{
padding: 60px 0px;
color: #fff;
}
.service11 h2{
font-size: 40px;
}
.service11-hading{
text-align: center;
}
.service11-list{
color: #fff;
margin-top: 50px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 20px; 
margin-right: 20px;
}
.service11-list-item{
margin: 20px 10px;
border: 1px solid #fff;
padding: 80px 80px;
}
.service11-list-item i{
font-size: 30px;
text-align: center;
}
.service11-list-item:hover{
background-color: rgb(236, 12, 80);
color: #fff;
}
/* --------service--part---end------*/


/* --------service--part---start------*/
.service-title{
text-align: center;
color: #fff;
margin: 50px 500px;
font-size: 30px;
}
.service-title h2{
border-bottom: 2px solid #fff;
}
.service{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 50px;
margin-left: 25px;
margin-right: 25px;
margin-bottom: 50px;
}
.service1{
color: #fff;
border: 2px solid #fff;
padding: 30px 30px;
}
.service1 h4{
font-size: 25px;
}
.service1 p{
margin-bottom: 30px;
}
.service1 a{
text-decoration: none;
color: #fff;
font-size: 20px;
background-color: rgb(236, 12, 80);
padding: 10px 25px;
border: 1px solid #fff;
border-radius: 10px;
}
.service1 a:hover{
background-color: rgb(23, 4, 12);
transition: .5s;
}
.service2{
margin-left: 25px;
margin-right: 25px;
color: #fff;
border: 2px solid #fff;
padding: 30px 30px;
}
.service2 h4{
font-size: 25px;
}
.service2 p{
margin-bottom: 30px;
}
.service2 a{
text-decoration: none;
color: #fff;
font-size: 20px;
background-color:  rgb(236, 12, 80);
padding: 10px 25px;
border: 1px solid #fff;
border-radius: 10px;
}
.service2 a:hover{
background-color:  rgb(23, 4, 12);
transition: .5s;
}
    
.service3{
color: #fff;
border: 2px solid #fff;
padding: 30px 30px;
}
.service3 h4{
font-size: 25px;
}
.service3 p{
margin-bottom: 30px;
}
.service3 a{
text-decoration: none;
color: #fff;
font-size: 20px;
background-color: rgb(236, 12, 80);
padding: 10px 25px;
border: 1px solid #fff;
border-radius: 10px;
}
.service3 a:hover{
background-color: rgb(23, 4, 12);
transition: .5s;
}
.service1:hover{
scale: 1.1;
transition: .5s;
background-color: rgb(236, 12, 80);
}       
.service2:hover{
scale: 1.1;
transition: .5s;
background-color: rgb(236, 12, 80);
}       
.service3:hover{
scale: 1.1;
transition: .5s;
background-color: rgb(236, 12, 80);
}       
/* --------service--part---end------*/

/* --------skills--part---start------*/
 
.progress{
padding: 100px 100px;
padding-top: 50px;
background-color:  rgb(23, 4, 12);
    
}
.progress-div{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
   
}
.progress-bar{
width: 600px;
height: 10px;
background-color:#ffffff;
border-radius: 20px;
      
}
.progress-bar-part{
width: 80%;
height: 10px;
background-color:rgb(236, 12, 80);
border-radius: 20px;
       
}
.progress-bar-part1{
width: 90%;
height: 10px;
background-color:rgb(236, 12, 80);
border-radius: 20px;
}
.progress-bar-part2{
width: 90%;
height: 10px;
background-color:rgb(236, 12, 80);
border-radius: 20px;
}
.progress-bar-part3{
width: 70%;
height: 10px;
background-color:rgb(236, 12, 80);
border-radius: 20px;
}
.progress-bar-part4{
width: 85%;
height: 10px;
background-color:rgb(236, 12, 80);
border-radius: 20px;
}
.progress-title{
color: #ffffff;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 20px;
}         

/* --------skills--part---end------*/


/* --------fotter--part---start------*/


/* --------portfolio--part---start------*/

.portfolio{
display: flex;
flex-direction: row;
justify-content: space-around;
background-color:rgb(23, 4, 12);
margin-top: 40px;
margin-left: 50px;
margin-right: 50px;
}
.portfolio-item{
position: relative;
}
.portfolio-img{
background-image: url(img/work-1.png);
background-size: cover;
width: 300px;
height: 300px;
}
.portfolio-content{
position: absolute;
top: 0px;
background-color: rgba(0,0,0,.7);
width: 100%;
height: 0%;
visibility: hidden;
transition: 2s;
}
.portfolio-content h3{
padding-top:   30px;
font-size: 35px;
text-align: center;
color: #fff;
visibility: hidden;
}
.portfolio-content i{
font-size: 40px;
color: #fff;
margin-top: 30px;
margin-left: 30px;
visibility: hidden;
}
.portfolio-item:hover .portfolio-content{
visibility: visible;
height: 100%;
}
.portfolio-item:hover .portfolio-content h3{
visibility: visible;
}
.portfolio-item:hover .portfolio-content i{
visibility: visible;
}
.portfolio1-item{
    position: relative;
    }
    .portfolio1-img{
    background-image: url(img/work-2.png);
    background-size: cover;
    width: 300px;
    height: 300px;
    }
    .portfolio1-content{
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 0%;
    visibility: hidden;
    transition: 2s;
    }
    .portfolio1-content h3{
        padding-top:   30px;
        font-size: 35px;
        text-align: center;
        color: #fff;
        visibility: hidden;
        }
        .portfolio1-content i{
        font-size: 40px;
        color: #fff;
        margin-top: 30px;
        margin-left: 30px;
        visibility: hidden;
        }
    .portfolio1-item:hover .portfolio1-content{
    visibility: visible;
    height: 100%;
    }
    .portfolio1-item:hover .portfolio1-content h3{
        visibility: visible;
        }
        .portfolio1-item:hover .portfolio1-content i{
        visibility: visible;
        }
    .portfolio2-item{
        position: relative;
        }
        .portfolio2-img{
        background-image: url(img/work-3.png);
        background-size: cover;
        width: 300px;
        height: 300px;
        }
        .portfolio2-content{
        position: absolute;
        top: 0px;
        background-color: rgba(0,0,0,.7);
        width: 100%;
        height: 0%;
        visibility: hidden;
        transition: 2s;
        }
        .portfolio2-content h3{
            padding-top:   30px;
            font-size: 35px;
            text-align: center;
            color: #fff;
            visibility: hidden;
            }
            .portfolio2-content i{
            font-size: 40px;
            color: #fff;
            margin-top: 30px;
            margin-left: 30px;
            visibility: hidden;
            }
        .portfolio2-item:hover .portfolio2-content{
        visibility: visible;
        height: 100%;
        }
        .portfoli2-item:hover .portfolio2-content h3{
            visibility: visible;
            }
            .portfolio2-item:hover .portfolio2-content i{
            visibility: visible;
            }
.test{
margin-right: 300px;
margin-left: 300px;
width: 50%;
border: 1px solid #fff;
box-shadow: 0px 0px 10px #fff;
background-color: rgb(23, 4, 12);
text-align: center;
padding-left: 30px;
padding-right: 30px;
color: #fff;
}
.test img{
width: 100px;
height: 100px;
border-radius: 40%;
padding: 40px 0px;
}
.test h3{
margin: 0px;
font-size: 25px;

}
.test h4{
margin: 0px;
padding-top:5px ;
padding-bottom: 30px;
}

.project{
background-color: rgb(236, 12, 80);
margin-top: 50px;
margin-left: 50px;
margin-right: 50px;
display: flex;
flex-direction: row;
justify-content: space-between;
border: 1px solid rgb(236, 12, 80);
border-radius: 10px;
}
.project-title h3{
padding: 5px 10px 0px;
font-size: 20px;
color: #fff;
margin-bottom:  0px;
}
.project-title p{
padding: 5px 10px;
color: #fff;
}
.project-btn{
margin-right: 50px;
margin-top: 40px;
}
.project-btn a{
border: 1px solid #fff;
padding: 10px 20px;
text-decoration: none;
color: #fff;
background-color: rgb(23, 4, 12);
border-radius: 50px;
}
.project-btn a:hover{
color: rgb(236, 12, 80);
}
.contact{
background-color: rgb(23, 4, 12);
box-shadow: 0px 0px 10px #fff;
margin-left: 50px ;
margin-right: 50px;
margin-top: 50px;
padding: 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.contact-form .form input{
width: 80%;
height: 40px;
margin-top: 30px;
border-radius: 10px;
padding-left: 20px;
}
.contact-form .form textarea{
width: 80%;
height: 150px;
border-radius: 10px;
margin-top: 30px;
padding-left: 20px;
}
.contact-form .form input.submit{
background-color:  rgb(236, 12, 80);
color: #fff;
font-size: 22px;
cursor: pointer;
}
.contact-form .form input.submit:hover{
background-color:rgb(23, 4, 12);
}
.contact-ad{
width: 30%;
margin-top: 50px;
color: #fff;
}

.fotter-part{
padding: 50px 250px;
background-color: rgb(23, 4, 12);
display: flex;
flex-direction: row;
justify-content: space-between;
color: #ffffff;
}

.copyright{
margin-top: 50px;
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 0px;
text-align: center;
background-color:  rgb(23, 4, 12);
}
.copyright h4{
color: #fff;
margin-top: 50px;
}
/* --------fotter--part---end------*/
